body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 50px;

    margin: 0;
    height: 100vh; /* Full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      90deg,
      #ff0000 16.66%,
      #ff7f00 16.66%,
      #ff7f00 33.33%,
      #ffff00 33.33%,
      #ffff00 50%,
      #00ff00 50%,
      #00ff00 66.66%,
      #0000ff 66.66%,
      #0000ff 83.33%,
      #4b0082 83.33%,
      #4b0082 100%
    );
    background-size: 150% 100%; /* Adjust for pixelated look */
    animation: move 5s linear infinite; /* Optional animation */
  }
  
  /* Keyframes for the background animation */
  @keyframes move {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
}

h1 {
    color: #ff6347;
    font-size: 3em;
    margin-bottom: 20px;
}

button {
    background-color: #ff6347;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #ff4500;
    transform: scale(1.1);
}

.btn{
  padding:
  cursor: pointer;
  border: 2px solid #0f172a;
  box-shadow: 2px 2px 00 white, 4px 4px 00 #0f172a;
  transistion-duration: 200ms;  
}

.btn:hover {
    box-shadow: 3px 3px white, 6px 0 0 #0f172a;
    transform: translate(-2px, -2px);
}
