body {
    
    cursor: url(images/shovel.png) 32 32, auto; /* Set the cursor for the entire body */
}

#falling-vegetables {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allow clicks to pass through */
    overflow: hidden;
    z-index: -1; /* Ensure it is behind other content */
}

.vegetable {
    position: absolute;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100vh);
    }
}
/* Scrolling animation */
@keyframes rainbow {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 100%; }
}

.rainbow-text {
    font-size: 3em;
    margin-bottom: 20px;
    font-family: 'Pacifico', cursive;
    color: #228B22; 
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the buttons horizontally */
    margin-top: 20px; /* Add some space between the heading and the buttons */
}

.btn {
    cursor: url(images/shovel.png) 32 32, auto; /* Set the cursor for the buttons */
    background-color: rgba(165, 10, 10, 0.2);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0; /* Add some space between the buttons */
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.btn:hover {
    background-color: rgba(133, 43, 43, 0.5);
    transform: scale(1.1);
}

.rainbow-btn {
    background: linear-gradient(45deg, #8FBC8F, #93e9004f); /* Earthy colors */
    background-size: 200% 200%;
    transition: background 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
}

.rainbow-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/vine.png) no-repeat center center; 
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s;
}

.rainbow-btn:hover::before {
    opacity: 1;
    animation: vine-grow 1s forwards;
}

